pydantic
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
openai
python-dotenv
defusedxml
pypdf
bs4
arxiv
pymupdf
langchain-community
faiss-cpu
langchain_google_genai
pypdf
pinecone
pymilvus
pymupdf 
camelot-py 
tesseract 
pytesseract 
langchain 
sentence-transformers 
pymilvus 
docx
langchain_huggingface
langchain_pinecone
pdfplumber
qdrant-client
langchain-qdrant